<h1><%= t('evaluation.previous_evaluation') %> </h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th> <%= t('evaluation.exercise') %> </th>
            <th> <%= t('evaluation.day') %> </th>
            <th> <%= t('evaluation.result') %> </th>
        </tr>
    </thead>
    <tbody>
        <% if @evaluations_user.blank? %>
            <tr>
                <td colspan=2> <%= t('evaluation.errors.no-exercises') %> </td>
            </tr>
        <% elsif %>
            <% @evaluations_user.each do |evaluation_user| %>
                <tr>
                    <td> <%= evaluation_user.evaluation.exercise.name %> </td>
                    <td> <%= evaluation_user.evaluation.evaluation_day.to_formatted_s(:rfc822) %> </td>
                    <td> <%= evaluation_user.result %> </td>
                </tr> 
            <% end %>
        <% end %>
    </tbody>
</table>