<h1><%= t('evaluation.list') %> </h1>

<%= link_to  t('evaluation.new-button'), new_evaluation_path, class: 'btn btn-primary' %>

<table class="table table-striped">
    <thead>
        <tr>
            <th> <%= t('evaluation.exercise') %> </th>
            <th> <%= t('evaluation.day') %> </th>
            <th colspan='3'> # </th>
        </tr>
    </thead>
    <tbody>
        <% if @evaluations.blank? %>
            <tr>
                <td colspan=2> <%= t('evaluation.errors.no-exercises') %> </td>
            </tr>
        <% elsif %>
            <% @evaluations.each do |evaluation| %>
                <tr>
                    <td> <%= evaluation.exercise.name %> </td>
                    <td> <%= evaluation.evaluation_day.to_formatted_s(:rfc822) %> </td>
                    <td> <%= link_to  t('edit'), edit_evaluation_path(evaluation) %> </td>
                    <td> <%= link_to  t('delete'), evaluation_path(evaluation), 
                        method: :DELETE, 
                        data: { confirm: t('delete_message') } %> </td>

                    <td>
                    <% if evaluation.evaluation_day.strftime('%m/%d/%Y').eql? DateTime.now.strftime('%m/%d/%Y') %>  
                    
                        <%= link_to  t('register_evaluation'), new_register_evaluation_path(evaluation), class: 'btn btn-primary' %>
                    <% end %>
                    </td>
                </tr> 
            <% end %>
        <% end %>
    </tbody>
</table>