
        <h1 class="page-header">
            <%= t('evaluation.previous_evaluation') %> 
        </h1>

<% if @exercises_evaluated.blank? %>
    <tr>
        <td colspan=2> <%= t('evaluation.errors.no-exercises') %> </td>
    </tr>
<% elsif %>
    <% @exercises_evaluated.each do |exercise_evaluated| %>
        <h3> 
            <%= exercise_evaluated.exercise.name %> 
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> <%= t('evaluation.day') %> </th>
                    <th> <%= t('evaluation.result') %> </th>
                </tr>
            </thead>
            <tbody> 
                <% exercise_evaluated.evaluations_user.each do |evaluation_result| %>
                    <tr>
                        <td> <%= exercise_evaluated.evaluation_day.to_formatted_s(:rfc822) %> </td>
                        <td> <%= evaluation_result.result %> </td>
                    </tr> 
                <% end %>
            </tbody>
        </table>
    <% end %>
<% end %>